nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #3e64af;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}

nav span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

nav button {
  background-color: white;
  color: #3e64af;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #3e64af;
  color: white;
}